.p1{
    background-color: yellow;
    font-weight: 700;
    font-size: larger;
    color: blue;
}
.p2{
    background-color: rgb(12, 104, 104);
    font-weight: 500;
    font-size: larger;
    color: #33ff74;
}
.p3{
    background-color: rgba(51, 8, 144, 0.607);
}