*{
    font-family: 'Courier New', Courier, monospace;
}
h1,h3{
  color: #b92b27 ;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvoat{
    background-color: green;
    color: aliceblue;
}
/* decendent selector */
.post a{
    color: purple;
    background-color: yellow;
}
nav a{
 color: hotpink;   
}
p+h3{
    text-decoration: underline;
}
.upvoat+button{
    background-color: cornflowerblue;
    color: darkblue;
}
div>input{
    background-color: darksalmon;
}
input[type="text"]{
    color: rgb(112, 9, 9);
}
input[type="password"]{
    color: green;
}
button:hover{
    background-color: black;
    color: white;
}
button:active{
    background-color: paleturquoise;
    color: black;
}
p:hover{
    font-weight: bold;
}
input[type="radio"]:checked+lable{
    color: #b92b27;
    font-weight: bold;
}
h1::first-letter{
    color: blue;
}


h3{
    background-color: yellow;
}
h3{
    background-color: purple;
}
/* which property we will written in the last that will be applied further */
/*in css we are follw the inheretence property
suppose you are have div and you insert some content ito it then i will be applying all over the div*/


