.body {
    margin:0;
    
}
.hastag-header{
    background-color: #0660d4;
    font-family: cursive;
    color: white;
    padding: 5rem;
    
}
.h2{
    margin: 0;
    margin-bottom: 1rem;
}