/* div{
    height: 200px;
    width: 200px;
    background-color: rgb(104, 31, 172, 0.6);
    /* transition: 1s;
    transition-delay:1s ; */
    /* margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
} */

/* transition */
/* div:hover{ */
    /* background-color: black;
    border-radius: 50%; */
    /* margin-top: 200px;
    background-color: black;
/* } */ 
 /* section{
    margin-top: 100px;
 }
 div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(112, 187, 22);
    border: 2px solid black;
    margin: 10px; */
 */
 div:nth-last-of-type(2n){
    background-color: rgb(93, 163, 163);
 }
 div:nth-of-type(3n){
    background-color: moccasin;
 }
 /* transform */
 #one{
    transform: rotate(45deg);
 }
 #two{
    transform: scale(0.5);
 }
 #three{
    transform:translate(10px, 20px) ;
 }
 #four{
    transform: skew(23deg);
 }
 #five{
    transform:rotate(45deg) translateY(10px) ;
 }

 /* boxshadow */
#forshadow{
   height: 200px;
   width: 200px;
   background-color: blanchedalmond;
   margin-left: 200px;
   margin-top: 100px;
   border: 2px solid black;
   border-radius: 8px;
   box-shadow: 2px 2px 2px;
}
/* bacgroundimage */
#image{
   height: 300px;
   width: 500px;
   margin-left: 150px;
   margin-top: 20px;
   background-color: bisque;
   background-image: url("image.jpeg");
   background-size: cover;
   font-size: 220px;
   color: rgba(1, 9, 9, 0.455);

}
.card{
   height: 300px;
   width: 200px;
   
   border: 2px solid black;
   display: inline-block;
   margin-left: 10px;
   border-radius: 4px;
   box-shadow: 2px 4px 8px;
   transition: 1s;

}
img{
   width: 100%;
   border-radius: 4px 4px 0 0;
}
.desc{
   padding: 0 2px;
}
.card:hover{
   box-shadow: 4px 4px 20px ;
}
/* position property */
/* div{
   height: 100px;
   width: 100px;
   background-color: greenyellow;
   border: 2px solid black;
   margin: 20px;
   display: inline-block;
}
#static{
   background-color: yellow;
   position: static;
   left: 100px;
}
#relative{
   background-color: yellow;
   position: relative;
   left: 100px;
   top: 100px;

}
#absolute{
   background-color: yellow;
   position: absolute;
   left: 100px;
   top: 100px;
}
#fixed{
   background-color: yellow;
   position: fixed;
   left: 100px;
   top: 100px;
} */

/* SMILE FACE  */
.face{
   height: 300px;
   width: 300px;
   background-color: rgb(228, 228, 6);
   border-radius: 50%;
}
.mouth{
   width: 196px;
   height: 75px;
   background-color: black;
   border-radius: 0 0 50px 50px;
   position: absolute;
   top: 175px;
   left: 60px;
}
.left-eye, .right-eye{
   width: 50px;
   height: 50px;
   background-color: black;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   left: 59px;
   top: 70px;
}
.right-eye{

   left: 197px;

}
