/* div{
    height: 200px;
    width: 200px;
    background-color: rgb(104, 31, 172, 0.6);
    /* transition: 1s;
    transition-delay:1s ; */
    /* margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
} */

/* transition */
/* div:hover{ */
    /* background-color: black;
    border-radius: 50%; */
    /* margin-top: 200px;
    background-color: black;
} */ 
 section{
    margin-top: 100px;
 }
 div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(112, 187, 22);
    border: 2px solid black;
    margin: 10px;
 }
 div:nth-last-of-type(2n){
    background-color: rgb(93, 163, 163);
 }
 div:nth-of-type(3n){
    background-color: moccasin;
 }
 /* transform */
 #one{
    transform: rotate(45deg);
 }
 #two{
    transform: scale(0.5);
 }
 #three{
    transform:translate(10px, 20px) ;
 }
 #four{
    transform: skew(23deg);
 }
 #five{
    transform:rotate(45deg) translateY(10px) ;
 }

 /* boxshadow */
#forshadow{
   height: 200px;
   width: 200px;
   background-color: blanchedalmond;
   margin-left: 200px;
   margin-top: 100px;
   border: 2px solid black;
   border-radius: 8px;
   box-shadow: 2px 2px 2px;
}
